{% extends "base.html" %}

{% block title %}
Player ID {{player_id}}
{% endblock %}

{% block content %}
<article>

	<div class="text-center image-uri">
		<img src="..." class="rounded" alt="...">
	</div>

	<div id="player-data">

		<table class="table table-bordered mt-3">
		  <tbody>
		  </tbody>
		</table>
	</div>
</article>
{% endblock %}

{% block script_includes %}

<script type="text/javascript">


function fixName(name) {
	name = name.replace('_', ' ');
	// https://stackoverflow.com/questions/196972/convert-string-to-title-case-with-javascript
	return name.replace(/\b\S/g, function(t) { return t.toUpperCase() });
}

$(document).ready(function(){

	// load initial data
	$.ajax({
		type: 'GET',
		url: '/api/players/{{player_id}}',
		dataType: 'json',
		success: function (data) {
			var player = data.fields;
			// set image
			$('.image-uri img').attr('src', 'http://via.placeholder.com/250?text=' + (player.name.replace(' ', '+')));
			// set data
			$('#player-data')
				.prepend($('<h1>').append(player.name));
			// create the table
			var elements = ['club', 'nationality', 'club_joining', 'rating', 'birth_date'];
			elements.forEach(function(element) {
				$('tbody').append($('<tr>')
					.append($('<td>').append(fixName(element)))
					.append($('<td>').append(player[element]))
				);
			});
		}
	});

});


</script>


{% endblock %}
