{% extends "base.html" %}

{% block title %}
Player ID {{player_id}}
{% endblock %}

{% block content %}
<article>

	<div class="text-center image-uri">
		<!-- fallback to img in case of object fail https://stackoverflow.com/questions/980855/ -->
		<object data="" type="image/png" class="rounded">
    		<img src="" class="rounded" />
  		</object>
	</div>

	<div id="player-data">

		<table class="table table-striped table-bordered mt-3">
		  <tbody>
		  </tbody>
		</table>
	</div>
</article>
{% endblock %}

{% block script_includes %}

<script type="text/javascript">


function fixName(name) {
	name = name.replace('_', ' ');
	// https://stackoverflow.com/questions/196972/convert-string-to-title-case-with-javascript
	return name.replace(/\b\S/g, function(t) { return t.toUpperCase() });
}

$(document).ready(function(){

	// load initial data
	$.ajax({
		type: 'GET',
		url: '/api/players/{{player_id}}',
		dataType: 'json',
		success: function (data) {
			var player = data.fields;
			// set image
			$('.image-uri img').attr('src', 'http://via.placeholder.com/128?text=' + (player.name.replace(' ', '+')));
			// https://stackoverflow.com/questions/20856197/remove-non-ascii-character-in-string
			$('.image-uri object').attr('data', '/static/player_pics/' + player.name.replace(/[\u{0080}-\u{FFFF}]/gu, '') + '.png');
			// set data
			$('#player-data')
				.prepend($('<h1 class="mt-4">').append(player.name));
			// create the table
			var elements = [
				// 'club', 'nationality', 'club_joining', 'rating', 'birth_date', 'age',
				// 'preffered_foot', 'preffered_position', 'national_position',
				// 'club_position'
			];
			for (var element in player){
				if (player.hasOwnProperty(element) && element !== 'name'){
					elements.push(element);
				}
			}
			elements.sort();
			elements.forEach(function(element) {
				$('tbody').append($('<tr>')
					.append($('<th>').append(fixName(element)))
					.append($('<td>').append(player[element]))
				);
			});
		}
	});

});


</script>


{% endblock %}
